.polaroid {
  margin-top: 20px;
  width: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align-items: center;
}

.container {
  padding: 45px;
  margin: auto;
}

.form-group{
  width: 25%;
}

.bookingForm{
  padding: 5px;
  position: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 90%;
}

#style1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}
